/* index.html*/

* {
    background-color: rgb(238, 207, 170);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

img{
    width: 700;
    height: auto;
    display: block;
    margin: auto;
}

.home-recipes li{
    padding: 5px;
    border: 1px solid;
    margin: 10px;
}


